# Large build, dependency and cache directories
build/
.cache/
.dart_tool/
node_modules/

# Flutter/Android/iOS large binaries and build outputs
*.apk
*.ap_
*.aab
*.aar
*.ipa
*.jks
*.keystore
flutter_*.png
